<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevator - Elevate safety, speed and style - Residential</title>
		<meta name="description" content="This web page allows the customer to get an intuitive quote for all their needs. From residential, to commercial, corporate or hybrid building, you will be able to get precious infos about our product line (standard, premium or excelium)." />
		<meta name="Author" content="Mathieu Bernier [www.mathieubernier.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

	

	<body class="smoothscroll enable-animation">

		


		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="/assets/images/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="index.html" id="home-nav">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index.html#services" id="services-nav">
											SERVICES
										</a>
									</li>
									<li><!-- PORTFOLIO -->
										<a href="index.html#portfolio" id="portfolio-nav">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news" id="news-nav">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index.html#clients" id="clients-nav">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact" id="contact-nav">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>





			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="" class="btn btn-xlg btn-danger fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Your quote <br>   
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			<!-- FORM QUOTATION FOR ELEVATORS IN JAVASCRIPT -->
	<!-- <form action="assets/php/contact.php" method="post" enctype="multipart/form-data"> -->
		<fieldset>
			<section id="quote">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Please fill the following form</h2>
						<!-- <p class="lead font-lato">Elevate your future</p> -->
						<hr />
					</header>


			<!-- Radio Buttons for builng choice -->
							
							<h2>Building type</h2>
							<label for="residential">
								<input type ="radio" id="residential" name="btype" value="residential">  Residential</label>
							<label for="commercial">
								<input type ="radio" id="commercial" name="btype" value="commercial">  Commercial</label>
							<label for="corporate">
								<input type ="radio" id="corporate" name="btype" value="corporate">  Corporate</label>
							<label for="hybrid">
								<input type ="radio" id="hybrid" name="btype" value="hybrid">  Hybrid</label>
						<hr>

			<!-- End of Radio Buttons section -->


			<!-- Fields to fill by user to generate quote -->

							<div id="number-of-apartments">
								<label>Number of apartments</label>
								<input type="number" name="number-of-apartments" min=1 id="nbapart">
							</div>
							<div id="number-of-floors">
								<label>Number of floors</label>
								<input type="number" name="number-of-floors" min=1 id="nbfloor">
							</div>
							<div id="number-of-basements">
								<label>Number of basements</label>
								<input type="number" name="number-of-basements" min=0 id="nbbase">
							</div>
							<div id="number-of-companies">
								<label>Number of companies</label>
								<input type="number" name="number-of-compagnies" min=0 id="nbcomp">
							</div>
							<div id="number-of-parking-spots">
								<label>Number of parking spots</label>
								<input type="number" name="number-of-parking-spots" min=0 id="nbspot">
							</div>
							<div id="number-of-elevators">
								<label>Number of cages to be deployed</label>
								<input type="number" name="number-of-elevators" id="nbelev">
							</div>
							<div id="number-of-corporations">
								<label>Number of corporations</label>
								<input type="number" name="number-of-corporations" min=0 id="nbcorpo">
							</div>
							<div id="maximum-occupancy">
								<label>Maximum occupancy</label>
								<input type="number" name="maximum-occupancy" min=0 id="maxocc">
							</div>
							<div id="business-hours">
								<label>Business hours</label>
								<input type="number" name="business-hours" min=0 max=24 id="busi">
							</div>
							
					
					<hr />
						
						<div id="elevator-amount">
							<label>Elevator amount</label>
							<input type ="text"  name="elevator-amount" readonly id="e-amount">
						</div>	
						<div id="elevator-unit-price">
							<label>Elevator unit price</label>
							<input type ="text"  name="elevator-unit-price" readonly id="unit-price">
						</div>

						<div id="elevator-total-price">
							<label>Elevator total price</label>
							<input type ="text"  name="elevator-total-price" readonly id="total-price">
						</div>

						<div id="installation-fees">
							<label>Installation fees</label>
							<input type ="text"  name="installation-fees" readonly id="inst-fees">
						</div>

						<div id="final-price">
							<label>Final price</label>
							<input type ="text"  name="final-price" readonly id="final">
						</div>

					<!-- to create the radio button for the product line --> 
					<hr>
						<p id="productline">Select your product line</p>
							
							<div>
								<input type="radio" name="line" onclick="myFunction(this)" value="7565" id="0.1">
								<label for="standard">Standard</label>
							</div>
							<div>
								<input type="radio" name="line" onclick="myFunction(this)" value="12345" id="0.13">
								<label for="premium">Premium</label>
							</div>
							<div>
								<input type="radio" name="line" onclick="myFunction(this)" value="15400" id="0.16">
								<label for="excelium">Excelium</label>
							</div>
						
						<p	Your installation fees will be: <input type="number" name="cost" id="result" readonly="readonly"></p>			
					<hr />
				</fieldset>

						<!-- Submit button -->
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-blue"><i class="fa fa-check"></i> SUBMIT</button>
							</div>
						</div>
			</section>
		</form>
			
			<hr class="m-0" /><!-- 1px line separator --> <!-- to add a line separator showing the end of the quote -->
			
			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. <br>
								Contact us today for any questions you might have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to our newsletter to see what is coming and going !</p>

							<form class="validate" action="/assets/php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators 2022
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		
		<!-- STYLESWITCHER - REMOVE -->
		<!-- <script async src="demo_files/styleswitcher/styleswitcher.js"></script> -->

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- TO INCLUDE A LINK TO MY JS FILE -->
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="assets/js/quote.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>
	

		<script type="text/javascript">
			// Library ready to use:
			accounting.formatMoney(5318008);
		</script>
		<!-- 
			GMAP.JS 
			http://hpneo.github.io/gmaps/
		-->
		<script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
		<script src="assets/plugins/gmaps.js"></script>
		<script>

			jQuery(document).ready(function(){

				/**
					@BASIC GOOGLE MAP
				**/
				var map2 = new GMaps({
					div: '#map2',
					lat: -12.043333,
					lng: -77.028333,
					scrollwheel: false
				});

				var marker = map2.addMarker({
					lat: -12.043333,
					lng: -77.028333,
					title: 'Codeboxx, Inc.'
				});

			});

		</script>
	</body>
</html>